<div style="background-color:burlywood; height:100%; width: 100%" >
<h1>Welcome to Employee Management System</h1>

<div class="container-md">
    <table>
        <tr>
            <a asp-action="Register" asp-controller="Login">Register</a> |
            <a asp-action="Index" asp-controller="Login">Login</a> |
        </tr>
    </table>

</div>
</div>

